node_modules/
dist/
.env

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
.DS_Store

# Игнорируем файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Prisma файлы
prisma/.DS_Store
prisma/migrations/

# Игнорируем кеши
.cache/
out/
coverage/
